<% provide(:title, "Log in") %>
<h1>Log in</h1>

<% if flash[:alert] %>
	<p id="notice"><%= flash[:alert] %></p>
<% end %>

<div class="row">
	<div class="medium-6 columns">
		<%= form_for(:session, url: login_path) do |f| %>
			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>
			
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
			
			<%= f.label :remember_me, class: "checkbox inline" do %>
			<%= f.check_box :remember_me %>
			<span>Remember me</span>
			<% end %>
			
			<%= f.submit "Log in", class: "btn btn-primary" %>
		<% end %>
	</div>
	<div class="medium-6 columns">
		<p>New artist? <%= link_to "Sign up now!", new_artist_path %></p>
	</div>
</div>